* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  background: #ffffff;
  color: #ff648b;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #0f0f0f;
}

nav h2 {
  color: #ff5fa2;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #ff5fa2;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
}

.hero span {
  color: #ff5fa2;
}

.hero p {
  margin: 15px 0 30px;
  opacity: 0.85;
}

.btn {
  background: #ff5fa2;
  color: black;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 80px 60px;
  text-align: center;
}

.section h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #ff5fa2;
}

.section p {
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
}

/* PINK SECTION */
.pink {
  background: #ff5fa2;
  color: black;
}

/* SKILLS */
.skills {
  margin-top: 30px;
}

.skills span {
  display: inline-block;
  margin: 10px;
  padding: 10px 18px;
  background: black;
  color: #ff5fa2;
  border-radius: 20px;
  font-weight: bold;
}

/* PROJECT CARD */
.project-card {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 20px;
  max-width: 400px;
  margin: 30px auto;
}

.project-card h3 {
  color: #ff5fa2;
}

.links a {
  margin: 10px;
  display: inline-block;
  color: #ff5fa2;
  text-decoration: none;
  font-weight: bold;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  background: black;
  color: #ff5fa2;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 15px;
  }

  .hero h1 {
    font-size: 2.2rem;
  }
}
